@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2C2C2E;
  min-height: 100vh;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: #dadada;
  border-color: #dadada;
}

.pagination button.active {
  font-weight: 900;
  background: #1C1C1E;
  color: #dadada;
}